In [44]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
import time
%matplotlib inline
# plt.style.use('dark_background')

In [5]:
data = pd.read_table('data/bulls.dat')
data

,breed,sale_price,yearling_height,fat_free_body,per_fat_free,frame_size,back_fat,shoulder_height,weight
0,1,2200,51.0,1128,70.9,7,0.25,54.8,1720
1,1,2250,51.9,1108,72.1,7,0.25,55.3,1575
2,1,1625,49.9,1011,71.6,6,0.15,53.1,1410
3,1,4600,53.1,993,68.9,8,0.35,56.4,1595
4,1,2150,51.2,996,68.6,7,0.25,55.0,1488